@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

h1,h3{
    font-family: 'Raleway', sans-serif;;
}

.HeadTitle h1{
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

.HeadTitle .Img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HeadTitle h3{
    margin-top: -10px;
    color: white;
}

p{
    font-family: 'Raleway';
    margin: 8px;
}

.HomeBox{
    background-color: #A09389;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    padding-top: 2px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HomeBox h1{
    font-family: 'Barlow', sans-serif;
}

.CreateButton{
    text-align: right;
    margin-right: 10px;
}
.InBoxText{
    color: white;
    text-align: center
}

body{
    background-color: #D4D1D2;
    text-align: center;

}

.MainText{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: white;
}

form {
    display: inline-block;
}


.NewTaskBox{
    background-color: #A09389;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Result{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.ResultDetail{
    background-color:#A09389;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TaskButton{
    margin-right: 10px;
    margin-left: 2px
}

.Task{
    background-color: #362d24;
    border-radius: 5px;
}

.Task .TaskContentDe{
    opacity: 0.1;
}

.Task:hover .TaskContentDe{
    opacity: 1;
    transition: 0.5s;
}

.TaskContent{
    font-family: 'Raleway', sans-serif;;
    color: white;
}

.Welcome h1{
    margin-top: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
    color:#362d24;
}

.table{
    margin: 10px;
}